.blog-banner {
    background-image: url(../img/affordable-investment.jpg);
    width: 1400px;
    max-width: 1600px;
    margin: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blog-banner h1 {
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: white;
    /* padding: 25px 0px; */
}

.blog-banner p {
    text-align: center;
    margin: 0;

    /* padding-top: 40px; */
}

.social-icons img {
  
    width: 30px;
    height: 30px;
    padding: 20px;
}
.social-icons{
    padding: 0px 70px;
}
.blog-icon{
    height: 10vh;
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    color: #40916c;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; 
    width: 1400px;
    max-width: 1600px;
    margin: auto;
    padding: 30px 0px;

}
/*
  * have icons grow a little bit on hover
  */
.social-icons:hover {
    transform: scale(1.25)
}

.blog-heading {
    padding: 100px 0;
    align-items: center;
    color: white;
}

.blog-content-para {
    text-align: left;
    /* padding: 30px 300px 30px 300px; */
    width: clamp(320px, 90vw, 800px) !important;
    /* max-width: 1600px; */
    padding-top: 10px;
    margin: auto;
}

.blog-content-heading h4 {
    font-weight: bold;
    text-align: left;
    /* padding: 0px 300px; */
    width: clamp(320px, 90vw, 800px);
    /* max-width: 1600px; */
    margin: auto;
    padding-top: 10px;
}

.blog-content-desc {
    text-align: left;
    /* padding: 10px 300px; */
    width: clamp(320px, 90vw, 800px);
    /* max-width: 1600px; */
    margin: auto;
    padding-top: 10px;
}

.blog-content-heading h3 {
    font-weight: bold;
    text-align: left;
    /* padding: 0px 300px; */
    width: clamp(320px, 90vw, 800px);
    /* max-width: 1600px; */
    margin: auto;
}
.leave-reply{
    background-color: beige ;
}
.leave-reply h4{
    font-weight: bold;
    /* padding: 20px 300px 0 300px;  */
    width: clamp(320px, 90vw, 800px);
    /* max-width: 1600px; */
    margin: auto;
    padding-top: 15px;
}
.leave-reply p{
    /* padding: 10px 300px; */
    width: clamp(320px, 90vw, 800px);
    /* max-width: 1600px; */
    margin: auto;
    padding-top: 10px;
}
.reply-form input{
    padding: 10px;
    background-color: white;
    font-size: 16px;
    margin: 0 20px;
    border: none;
    border-radius: 0;
}
.reply-form{
    width: 850px;
    margin: auto;
    display: flex;
    
}
.reply-wrapper{
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 15px ;
}
.form-comment{
    height: 100px;
    border: none;
    border-radius: 0;
    margin-top: 10px;
    width: 850px;
}
.leave-reply button{
    border: none;
    margin: 10px 0 30px 20px;
    padding: 10px 25px;
    background-color: rgb(36, 67, 179);
    color: white;

}
@media (max-width:426px){
    .blog-heading p{
        width: 420px;
        text-align: center;
    }
    .blog-heading h1{
        width: 420px;
        text-align: center;
        /* padding-left: 40px; */
    }
    .blog-icon{
        width: 430px;
        justify-content: space-between;
        padding: 0; 
        /* margin: 0 10px 0 10px; */
    }
    .social-icons{
        padding: 0 20px 0 20px;
    }
    .reply-form{
        flex-direction: column !important;
        gap: 10px;
        padding-left: 0px;
        width: 360px !important ;
        margin: auto;
    }
    .leave-reply h4{
        padding: 10px 0px 0px 10px;
    }
    .leave-reply p{
        padding: 10px 0px 0px 10px;
    }
    .reply-wrapper{
        padding: 10px 0 0 0;
        width: 350px;
    }
    .reply-form input{
        margin: 0;
        width: 380px;
    }
    .form-comment{
        width: 350px;
    }
    .leave-reply button{
        margin-left: 0px;
    }
}
