.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    width: clamp(320px, 90%, 1200px);
    padding: min(5vw, 50px);
    margin: auto;
}

.why-wrapper h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}
.accordian-wrapper{
    width: clamp(320px, 90%, 1440px);
    margin: auto;
}
#accordionExample{
    width: clamp(320px, 90%, 1440px);
    margin: auto;

}
.project-content-list{
    width: clamp(320px, 90%, 1440px);
    margin: auto;

}
.grid-container-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    width: clamp(320px, 90%, 1400px);
    margin: auto;
}
.project-info-content h3{
    width: auto;
    font-size: clamp(1rem,2.5vw,1rem);
    line-height: 1.5rem;
    font-weight: 600;
}
.project-info-content p{
    font-size: clamp(0.6rem,2.5vw,0.9rem);

}
.project-info-content{
    padding-left: 20px;
}
.project-sub-heading{
    width: clamp(320px, 90%, 1440px);
    margin: auto;
    text-align: center;
}
.accordion-header-text{
    font-size: clamp(0.7rem,2.5vw,1rem) !important;
    line-height: 1.5rem !important;
}
.accordion-body-text{
    font-size: clamp(0.8rem,2.5vw,1rem);
    padding: 20px 15px;
    color: rgb(86, 86, 86);
    font-weight: 400;
    background-color: #e9e9e9;
    margin-top: 0px;

}
.accordian-wrapper h2 {
    font-weight: 700;
    font-size: 25px;
    color: rgb(2, 2, 80);
    text-align: center;
}
.accordian-wrapper p {
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}