.blog-heading {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 24px;
}

.blog-img {
    height: 230px;
}

.blog-main-heading {
    color: white;
}

.banner-blog {
    height: 300px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer1 a {
        font-size: 14px;
    }

    .banner {
        height: 100px;
    }

    .banner-title {
        font-size: 20px;
    }

    .blog-img {
        height: 160px;
    }
}