.career-main-heading {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.banner-channelpartner {
    max-height: 250px;
}

.current-openings-wrapper {
    max-width: 950px;
    margin: auto;
    justify-content: space-between;
}

.current-heading {
    text-align: center;
}

.current-openings-main {
    padding: 50px 0
}

.openings-container {
    width: 450px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.openings-container h2 {
    font-size: 20px;
    font-weight: 600;
}

.openings-container h3 {
    font-size: 18px;
    font-weight: 600;
    color: gray;
}

.openings-container button {
    border: none;
    color: rgb(33, 155, 255);
    padding: 10px 20px;
    border-radius: 10px;
}

.openings-container:hover {
    background-color: rgb(33, 167, 229);
}

.openings-container:hover h2 {
    color: white;
}

.openings-container:hover h3 {
    color: rgb(216, 216, 216);
}

@media(max-width:768px) {
    .career-main-heading {
        font-size: 25px;
    }

    .current-openings-wrapper {
        flex-direction: column;
    }

    .openings-container {
        width: 400px;
        margin: auto;
    }

    .openings-container h2 {
        font-size: 16px;
    }

    .openings-container h3 {
        font-size: 14px;
    }

    .footer1 a {
        font-size: 14px;
    }

    .banner {
        height: 100px;
    }

    .career-main-heading {
        font-size: 16px;
    }
}