.banner-nri {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url(../img/nri-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
}

.banner-nri h3 {
    font-size: clamp(1rem, 2vw, 1.8rem);
    color: white;
    font-weight: 600;
    line-clamp: 2;
}

.studio-wrapper-nri {
    display: grid;
    grid-template-columns: 45% 55% !important;
    gap: 20px;
    width: clamp(320px, 90%, 1440px);
    margin: auto;
    align-items: center;
}

.studio-grid-item {
    width: clamp(320px, 90%, 700px) !important;
    max-width: none !important;
    margin: 0 0 !important;

}
.studio-wrapper-nri img {
    width: 600px !important;
    height: 320px !important;
    object-fit: cover;
    border-radius: 10px;
}
.studio-grid-item button{
    background-color: #2a92c9;
    border: none;
    padding: 1rem 2rem;
    color: white;
}
.flex-nri{
    width: clamp(320px,90%,1400px);
    margin: auto;
    padding: 50px 0 0 0
}
.flex-nri h3{
    font-size: clamp(1rem,2vw,1.rem);
    font-weight: 600;
    text-align: center;
}
.flex-nri p{
    padding: 20px 0;
}

.flex-nri-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.why-wrapper-grid h3{
    font-size: clamp(0.9rem,2vw,1rem) !important;
    font-weight: 600;
}
.why-wrapper-main-grid{
    background-color: #ffffff;
    padding: 20px 0;
    width: clamp(320px,100%,1600px) !important;
}
.why-wrapper-grid{
      background-color: #f6f6ff !important;
    
}
.grid-container-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    width: clamp(320px, 90%, 1200px) !important;
    padding: min(5vw, 20px);
    margin: auto;
}

.service-3 .service-box .y-us-content p {
    color: #777777;
    /* font-size: 13px; */
    font-size: clamp(0.8rem,2vw,1rem) !important;
    font-weight: 300;
    line-height: 24px;
}
.service-3 h3{
    font-size: clamp(0.8rem,2vw,1.1rem);
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}
.y-us-contentbox h3{
    font-size: clamp(0.8rem,2vw,1.1rem);
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}
.y-us-title h2{
    font-size: clamp(1rem,2vw,1.4rem) !important;
    font-weight: 600;
}
.property-heading p{
    text-align: center;
}
.nri-footer{
    align-items: center;
    width: clamp(320px,80%,1000px);
    margin: auto;
    display: flex;
    flex-direction: column; 
}
.nri-footer h3{
    font-size: clamp(1rem,2vw,1.4rem);
    font-weight: 600;
}


@media (max-width: 768px) {
    .studio-wrapper-nri {
        grid-template-columns: 1fr !important;
        padding: min(20px, 5%);
    }
    .studio-wrapper-nri img {
        width: 350px !important;
        height: 320px !important;
        object-fit: cover;
        border-radius: 10px;
    }
    .flex-nri-content{
        flex-direction: column;
        align-items: center;
    }
    .flex-nri-content p{
        padding: 0;
    }
   
}
