.title-border-flats{
    background: #3a79e6 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 250px;
    margin-top: 10px;
}
.property-wrapper-content h3{
    font-size: clamp(1rem,2.5vw,1.1rem);
    font-weight: 600;
    line-height: 1.6rem;
}
.property-wrapper-content p{
    font-size: clamp(0.8rem,2.5vw,1rem);
}
.property-wrapper-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: auto;
}


.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.close-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}
#brochureForm input{
    padding: 15px;
    margin: 10px 0;
}
#brochureForm button{
    background-color: rgb(13, 77, 137);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

/* ready to move apartments */
.property-image-ashoka{
     width: 410px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;;
}