.redwood-property-details {
    height: 440px !important;
}

iframe {
    height: 500px !important;
    zoom: 1;
}

.redwood-h3 {
    text-align: center;
}

table {
    margin: 10px auto 60px auto;
}

.responsive-map-container {
    height: 500px !important;
    padding-bottom: 10px;
}

.table-head {
    margin-top: 0px;
}

/* iconbox */
.redwood-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    justify-content: space-between;
}

.redwood-icon-box p {
    color: #6a6a6a;

}

.redwood-ruler-animation {
    background-image: url(../img/line-shape.png);
    margin-top: 20px;
    padding: 20px 0;
    width: 1150px;
    height: 30px;
    background-repeat: repeat-x;
    /* Ensure seamless scrolling */
    background-size: cover;
    /* Adjust based on your needs */
    animation: ShapeAnim 30s linear infinite;
    z-index: 10;
}

@keyframes ShapeAnim {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -2000px 0;
        /* Adjust to match image width */
    }
}


@media (max-width:426px) {
    .banner {
        flex-direction: column !important;
        height: 650px !important;
        object-fit: cover !important;

    }

    .banner-content {
        width: 320px !important;
        margin: auto;
        top: -210px !important;
        /* top: -29%; */
    }

    .rohaan,
    .text-primary {
        font-size: 20px !important;
    }

    .banner-description {
        width: 350px !important;
        margin: auto;
        font-size: 14px;
    }

    .contact-form {
        top: 66% !important;
    }

    .commerical-wrapper h2 {
        margin-top: 145px !important;
    }

    .property-content {
        flex-direction: column;
    }

    .image-container {
        width: 100%;
    }

    .property-info {
        width: 100%;
    }

    .content-wrapper {
        flex-direction: column;
    }

    .info-box {
        width: 100%;
    }

    .rohaan-features-container {
        flex-direction: column;
    }

    .line {
        display: none;
    }

    .rohaan-features-content {
        width: 380px;
        margin: auto;
        grid-template-columns: 1fr;
    }

    .form-heading {
        width: 214px;
    }

    .form-container1 input {
        width: 390px !important;
    }

    .form-container1 select {
        width: 390px !important;

    }

    .projects-container1 {
        flex-direction: column;
    }

    .project-card {
        width: 100%;
        max-width: 380px;
    }

    .fliter-container {
        margin-top: 380px;
        width: 420px;
    }

    .filter-buttons-wrapper {
        justify-content: start;
    }

    .form-container1 select {
        margin: 0px;
    }

    .filter-btn {
        padding: 8px;
        font-size: 14px;
    }

    .border-divider {
        display: none;
    }

    .card-img {
        width: 350px;
    }

    .table-head {
        margin-top: 0px;
    }

    table {
        width: 320px !important;
    }

    td {
        padding: 8px;
        font-size: 10px;
    }

    th {
        font-size: 12px;
    }

    .rohaan-crest {
        padding: 20px 10px;
    }

    .description {
        font-size: 14px;
    }

    .advantages-container {
        display: none;
    }

    .advantages-mobile-wrapper {
        display: block;
    }

    .advantage-orange-h2,
    .advantage-blue-h2,
    .advantage-green-h2,
    .advantage-red-h2,
    .advantage-navy-h2 {
        text-align: center;
    }

    .mobile-img {
        width: 80px;
        height: 75px;
        margin: 10px 0;
    }

    .advantage-mobile-para {
        font-size: 14px;
        width: 300px;
        text-align: center;
        align-items: center;
        margin: auto;
    }

    .footer-text {
        font-size: 14px;
    }

    .investment-icons {
        flex-direction: column;
    }

    .invesment-item-box {
        margin: auto
    }

    .investment-heading {
        font-size: 18px;
    }

    .box-icon {
        width: 320px !important;
    }

    .box {
        flex-direction: column;
    }
}