
.studio-wrapper {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    width: clamp(320px, 90%, 1440px);
    margin: auto;
    align-items: start;
}

.studio-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    max-width: 100%;
   
}
.studio-grid-item{
    width: clamp(320px,90%,400px);
    margin: auto;
        max-width: 500px;
}

.studio-img-container {
    max-width: 100%;
    width: 100%;
}

.studio-wrapper img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
.studio-grid-wrapper h3{
    font-size: clamp(0.9rem,2vw,1rem);
    color: #083b7e;
    font-weight: 600;
}
.studio-grid-wrapper h1{
    font-size: clamp(0.9rem,2vw,1rem);
    font-weight: 600;
    color: navy;
}
.studio-grid-wrapper h2{
    font-size: clamp(1rem,2vw,1.3rem);
    font-weight: 600;
    margin: 20px 0;
}
@media (max-width: 768px) {
    .studio-wrapper {
        grid-template-columns: 1fr;
        padding: min(20px,5%);
    }
    .studio-grid-container{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    
}

