.related-projects {
    padding: 20px 50px;
}

.accordian-wrapper p {
    padding-bottom: 5px;
}

.accordian-wrapper h2 {
    margin-top: 20px;
}

.villa-content-section {
    height: 660px;
}

@media(max-width:768px) {

    .villa-content-section {
        position: relative;
        height: 650px;
        max-width: 1400px;
        margin: auto;
        width: 400px;
    }

    .accordian-wrapper h2 {
        margin-top: 20px;
    }

    .accordian-wrapper p {
        padding-bottom: 5px;
    }

    .villa-content {
        width: 350px;
        margin: auto;
    }

    .related-projects h2 {
        margin-bottom: 0px;
    }

    .related-projects {
        padding: 5px 20px;
    }

    .villa-black-title {
        font-size: 18px;
    }

    .vila-title {
        font-size: 12px;
    }

    .section-red {
        background-color: #FF0000;
        padding: 20px;
        width: 380px;
        color: white;
        position: absolute;
        top: 27%;
        right: 2%;
        border-radius: 10px;
    }

    .section-blue {
        background-color: #000B87;
        padding: 20px;
        width: 380px;
        color: white;
        position: absolute;
        top: 75%;
        right: 2%;
        border-radius: 10px;
    }

    .section-green {
        background-color: #007E37;
        padding: 20px;
        width: 380px;
        color: white;
        position: absolute;
        top: 51%;
        right: 2%;
        border-radius: 10px;
    }

    .section-light-blue {
        background-color: #52A3FF;
        padding: 20px;
        width: 380px;
        color: white;
        position: absolute;
        top: 3%;
        right: 2%;
        border-radius: 10px;
    }

    .image-section {
        display: none;
    }

    .block-heading {
        font-size: 14px;
    }

    .block-para {
        font-size: 12px;
    }

    .banner-description {
        font-size: 16px;
    }

    .rohaan {
        font-size: 40px !important;
    }

    .text-primary {
        font-size: 40px !important;
        padding-left: 0px;
    }
}